*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.content{
    background-image: url('Assets/Images/netflix-system-design-cover.jpg');
    position:relative;
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 20px 20px black;
    overflow-y: hidden;
}

.content::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: calc(0.5);
}

.banner{
    
}
.top{
    display:flex;
    width: 100%;
}

.ele-top{
    display:flex;
    width:100%;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0.5rem;
    z-index: 2;
}

.logo{
    display: flex;
    margin-right: auto;
}

.logo img{
    width: 20%;
    min-width: 8rem;
}

.rightnav{
    display: flex;
    width: 40%;
}

select{
    background-color: transparent;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #ffff;
}

select option{
    color: white;
    font-weight: 400;
}

.langsel
{
    margin-left: 1rem;
    margin-right: 2rem;
    
}
.lang{
    color: white;
}

.sign-in{
    display: flex;
    align-items: center;
}
.sign-in a{
    padding : 7px 17px;
    white-space: nowrap;
    background-color: rgb(232,12,20);
    text-decoration: none;
    text-align: center;
    color: white;   
    font-size: 20px; 
    border-radius: 3px;
    font-size: 1rem;
}

.mid{
    display: flex;
    align-items: center;
    color: #ffff;
    flex-direction: column;
    padding: 11% 10%;
    
}

.Unlimited{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

.Unlimited h1{
    font-size: 3.75rem;
    z-index: 2;
}

.Unlimited h2{
    font-size: 1.75rem;
    margin-top: 1rem;
    font-weight: 500;
    z-index: 2;
}

.Unlimited h3{
    margin-top: 2rem;
    font-weight: 300 ;
    z-index: 2;
}
/* clamp(25px,70px,100px); */
.email{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    
}
.email input{
    width: 40vw;
    text-align: left;
    font-size: 20px;
    z-index: 2;
}

.email a{
    background-color: rgb(232,12,20);
    color: #ffff;
    padding: 2.75% 1rem;
    font-size: 30px;
    z-index: 2;
}

.jumbotron{
    
}

.first,.second,.third,.fourth{
    display: flex;
    height: 70%;
    width: 100vw;
    background-color: black;
    border-top: 4px solid gray;
    color: #ffff;
    align-items: center;
    
}

.jtext{
    width:52%;
    display: flex;
    flex-direction: column;
}

.jtext.jl{
    align-items:flex-end;
    padding-right: 5%;
}

.jhead{
    width: 80%;
}
.jhead h1{
    font-size: 50px;
    
}

.jdesc{
    width: 80%;
    margin-top: 1rem;
}
.jdesc h2{
    font-weight: 300;
    font-size: 25px;
    
}
.jimg{
    margin-left: 5%;
    width: 48%;
}
.jimg img{
    width: 75%;
}

.faq{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px solid gray;
}

.faqcard{
    padding: 7% 5%;
}

.faq h1{
    font-size: 50px;
    color: #ffff;

}

.questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffff;
    margin: 5% 20%;
}

.q{
    background-color:gray ;
    padding: 5% 20%;
}
.q h2{
    font-weight: 300;
    font-size: 30px;
}

.footer{
    height: 55%;
    background-color: black;
}